* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.wrap {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: rgb(232, 232, 232);
  padding: 3rem;
  border-radius: 10px;
  margin: 1rem;
}
#generateQuote {
  font-size: 2rem;
  font-weight: bold;
}
button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: rgb(27, 197, 27);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(11, 156, 11);
}
select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 200px;
}

.choose {
  padding-bottom: 10px;
}
.btn {
  background-color: rgb(54, 54, 54);
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
}
.btn:hover {
  background-color: black;
}
#plus {
  background-color: rgb(54, 178, 227);
  font-size: larger;
  font-weight: bold;
  padding: 6px 12px;
}
#plus:hover {
  background-color: rgb(41, 153, 197);
}
#minus {
  background-color: rgb(240, 62, 62);
  font-size: larger;
  font-weight: bold;
  padding: 6px 15px;
}
#minus:hover {
  background-color: rgb(207, 9, 9);
}
.display {
  padding: 2rem;
}

@media (max-width: 500px) {
  .divContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #generateQuote {
    font-size: 1.2rem;
  }
  body {
    position: relative;
  }
  #theme {
    position: absolute;
    font-size: 8px !important;
    right: 0px !important;
  }
}
#theme {
  position: absolute;
  top: 2px;
  right: 2rem;
  background-color: black;
  font-size: 15px;
  padding: 8px 10px;
}
.dark {
  background-color: black;
  color: white;
}
.cardDark {
  background-color: rgb(64, 64, 64);
}
.buttonDark {
  background-color: rgb(169, 168, 168);
  color: black;
}
.buttonDark:hover {
  background-color: white;
  color: black;
}
.whiteMode {
  background-color: white !important;
  color: black;
}
